# ルート直下を全て無視し、Git管理するものはホワイトリストに入れる.
/*/

# ホワイトリスト
!/CustomStream/
!/DLLSample/
!/GoogleTestSample/
!/JsonForModernCpp/
!/NUnitCpp/
!/UserDefinedLiterals/

# 共通設定
.vs/
bin/
obj/
packages/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esult*/
*.vcxproj.user
